@import "/src/styles.scss";

.experience {
  background-color: $menuColor;
  display: flex;
  height: 300px;
}
.experience > div > div {
  padding: 15px;
}

.experience-second {
  color: rebeccapurple;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.dates-of-jobs {
  display: flex;
  width: 100%;
  background-color: red;
}
.date-from-of-job {
}

.date-to-of-job {
}

.title-of-job {
}

.company-of-job {
}

.description-of-job {
}

.picture-of-job {
  clip-path: polygon(0% 100%, 15% 0%, 100% 0%, 100% 100%);
}

.experience-second .picture-of-job {
  clip-path: polygon(0% 100%, 0% 0%, 85% 0%, 100% 100%);
}

.experience-photo-container {
  position: relative;
  // width: 300px;
  height: 300px;
  overflow: hidden;
}

.picture-of-few-jobs {
  // position: relative;
  width: 300px;
  height: 300px;
  /* Dostosowuje wysokość do kontenera */
  object-fit: cover;
  // overflow: hidden;

  /* Zapewnia, że zdjęcia będą odpowiednio przeskalowane */
  // clip-path: polygon(0% 100%, 45px 0%, 100% 0%, 100% 100%);
  /* Przycięcie zdjęcia pod kątem */
}

.picture-of-jobs:first-child {
  position: absolute;
  // left:0px;
  width: 300px;
  height: 300px;
  // background-color: antiquewhite;
  z-index: 1;
  clip-path: polygon(0% 100%, 15% 0%, 100% 0%, 100% 100%);
}

.picture-of-jobs:nth-child(2) {
  position: absolute;
  width: 300px;
  height: 300px;
  //   background-color:brown;
  z-index: 2;
  transform: translateX(100px);
  clip-path: polygon(0% 100%, 15% 0%, 100% 0%, 100% 100%);
}

.picture-of-jobs:last-child {
  position: absolute;
  width: 300px;
  height: 300px;
  // background-color:darkcyan;
  z-index: 3;
  transform: translateX(200px);
  clip-path: polygon(0% 100%, 15% 0%, 100% 0%, 100% 100%);
}

.object {
  // position:absolute;
  // right:275px;
  // background-color: red;
  // width:30px;
  // height: 300px;
  // transform: rotate(10deg);
}
