*{
    font-family: 'BioRhyme';
}

.background{
    // background-color: rgb(230, 230, 230);
    // background: rgb(22,30,34);
    background-image: linear-gradient( 45deg, #282279 0%,  #2ebf91 80% );
    background-image: linear-gradient(toright, #b6fbff, #83a4d4);
    position: relative;
    width: 100%;
    min-height: 100%;
}
.container{
    padding-bottom: 50px;

}
// .background{
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     background-color: #EEEEEE;
//     // background-image: url('../../../assets/cool-background.png');
//     background-size: cover;
//     background-repeat: no-repeat;
// }