.background{
    height: 80vh; /* Twoja wysokość */
    max-height: 380px;
    // max-width: 1200px;
    width: 100%; /* Szerokość na całą stronę */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../assets/pictures/CV3.png");
    background-position: center;
    background-size: cover;
}