.background{
    height: 80vh; /* Twoja wysokość */
    max-height: 380px;
    // max-width: 1200px;
    width: 100%; /* Szerokość na całą stronę */
    display: flex;
    justify-content: center;
    align-items: center;
}