<div class="navigation-bar-all">
    <div class="navigation-left">
        <div class="title-icon">
            <img class="title-icon-image" src="assets/pictures/icon-code.png">
        </div>
        <div class="title-name">
            <div >
                MARIUSZ
            </div>
            <div>
                LEMAŃSKI
            </div>
        </div>

    </div>
    <div class="navigation">
        <div class="center-space"></div>
        <div class="navi-option">
            <div class="navi-option-text" (click)="toHome()">Home</div>
        </div>
        <div class="navi-option">
            <div class="navi-option-text">O mnie</div>
        </div>
        <div class="navi-option">
            <div class="navi-option-text" (click)="toCv()">CV</div>
        </div>
        <div class="navi-option">
            <div class="navi-option-text">Kontakt</div>
        </div>
    </div>
</div>