// .background-picture{


// }

.first-picture{
    // padding-left:50ppx;
    background-image: url("../../../assets/pictures/ja_patrze_szosa_add_three.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh; /* Twoja wysokość */
    max-height: 380px;
    // max-width: 1200px;
    width: 100%; /* Szerokość na całą stronę */
   
    // background-size:contain
    // background-repeat: no-repeat;

    // object-fit: scale-down;
    // height:40vh;
    // width: 100%;
    // background-size: 100% 100%;
    // overflow-x: hidden;
    // overflow-y: hidden;
    // background-position: center center;
    // background-position: top center;

}

.text-to-picture{
    width: 35%;
    padding-left:50px;
    padding-top:50px;
    
}

#typedText{
    display: flex;
}
.title-home{
    font-size: xx-large;
}