<!-- <p>technology-bar works!</p> -->
<div class="background-technology">

    <div class="technology-text">
        Znane technologie:
    </div>
    <div class="all-technology">
        <div class="one-technology">
            <img class="img-one-technology" src="./../../../assets/pictures/icons8-html-logo-480.png">
        </div>
        <div class="one-technology">
            <img class="img-one-technology" src="./../../../assets/pictures/icons8-css-logo-480.png">
        </div>
        <div class="one-technology">
            <!-- <div class="image-container" (mouseenter)="showVines=true" (mouseleave)="showVines=false">
                <img class="img-one-technology" src="./../../../assets/pictures/javascript-69400.png">
                <div class="vine left-vine" *ngIf="showVines"></div>
                <div class="vine right-vine" *ngIf="showVines"></div>
            </div> -->
            <img class="img-one-technology" src="./../../../assets/pictures/javascript-69400.png">
        </div>
        <div class="one-technology">
            <img id="" class="img-one-technology" src="./../../../assets/pictures/angular.png">
        </div>
        <!-- <div class="one-technology">
            <img class="img-one-technology" src="">
        </div> -->
    </div>
</div>

<!-- 
<div class="image-container" (mouseenter)="showVines=true" (mouseleave)="showVines=false">
    <img src="">
    <div class="vine left-vine" *ngIf="showVines"></div>
    <div class="vine right-vine" *ngIf="showVines"></div>
</div> -->