@import "/src/styles.scss";
* {
  box-sizing: border-box;
}
.all-projects {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.project {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  // flex-grow: 1;
}

.box-for-project {
  // width: 250px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: $menuColor;
  margin: 10px;
  // height: 240px;
  // height: 100%;
  height: 100%;
  width: 320px;
  // border: solid 5px #1f1f1f;
  justify-content: space-between;
  transition: transform 0.5s, background-color 0.5s;
  box-shadow: 0px 0px 12px rgb(40, 40, 40);
}

.project-name {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3d3c3c;

  color: $menuColor;
  width: 100%;
  font-size: large;
  // font-weight: bolder;
  font-family: "Montserrat";
  height: 40px;
  position: relative;
}
.project-name > div {
  position: absolute;
  z-index: 0;
}
// new idea with code
.code-animation {
  width: 150px;
  mask-image: linear-gradient(0.25turn, black, transparent 60%);
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-image: url("../../../assets/pictures/code-example.png");
  background-repeat: no-repeat;
  background-size: 220%;
  animation: code-animation 4s steps(8) infinite;
  animation-play-state: paused;
}
.box-for-project:hover .code-animation {
  animation-play-state: running;
}
.project-description {
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Dodane */
  // flex-basis: 20%;
}

.project-image {
  width: 80px;
  height: 80px;
  transition: 0.3s;
}

.project-technology {
  padding-bottom: 12px;
}

.box-for-project:hover {
  //box-shadow: 0px 0px 20px rgb(40, 40, 40);
  //border: 10px solid #5f7b85;
  // background-color: #c7cfff;
}

.container-for-image {
  height: 100px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  // border-top: solid 1px black;
  // border-bottom: solid 1px black;
}
// poprawić animacje kodu
@keyframes code-animation {
  100% {
    //
    background-position: 0 -100.125px;
  }
}
