/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0;}

// *{
//     font-family: 'BioRyhme', sans-serif !important;
// }

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat/static/Montserrat-Black.ttf');
}
@font-face {
    font-family: 'BioRhyme';
    src: url('./assets/fonts/BioRhyme/BioRhyme-Regular.ttf');
}
$menuColor: #ebebeb;

/* Stylizacja paska przewijania dla wszystkich elementów i okna przeglądarki */
::-webkit-scrollbar {
    width: 8px; /* szerokość paska przewijania */
}

::-webkit-scrollbar-track {
    background: #747c91; /* kolor tła ścieżki paska przewijania */
}

::-webkit-scrollbar-thumb {
    background: #25263C; /* kolor paska przewijania */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* kolor paska przewijania przy najechaniu */
}